<%= simple_form_for([:admin, @step]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.association :awards %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
