<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @admin_child.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @admin_child.last_name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @admin_child.nickname %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @admin_child.birthday %>
</p>

<h5>Pending Steps</h5>
<ol class="tree">
  <%= just_tree @admin_child.pending_steps %>
</ol>

<%= link_to 'Edit', edit_admin_child_path(@admin_child) %> |
<%= link_to 'Back', admin_children_path %>
