<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_team.name %>
</p>

<ol>
  <% @admin_team.children.each do |child| %>
    <li><%= link_to child.name, admin_child_path(child) %></li>
  <% end %>
</ol>
  

<%= link_to 'Edit', edit_admin_team_path(@admin_team) %> |
<%= link_to 'Back', admin_teams_path %>
